@mixin clearfix {
    &::before,
    &::after{
      content: " ";
      display: table;
    }
    &::after{
      clear: both;
    }
  }

@mixin mainSection($color:transparent){
  width:100%;
  height:100vh;
  background: $color;
  position: relative;
  overflow-y: auto;
}

@mixin itemRecord($color){
  list-style-type: none;
        border-bottom: 2px solid $color;
        margin-bottom:2.5rem;
        padding-bottom: 1rem;
        width:100%;
        @media screen and (max-width:600px){
            width:100%
        }
      
      & > li{
          display: inline-block;
          text-transform: uppercase;
          padding:0 1rem;
          overflow: visible;
          
          &:not(:last-child){
              margin-right: 2rem;
              
          }
      }
      &--name{
        font-size:1.4rem;
        @media screen and (max-width:600px){
            display: block !important;
        }
    }
    &--price{
        font-size:1.7rem;
        float:right;
        border-left:3px solid $color
    }
    &--ingredients{
        font-size:.8rem;
        display: table;
          @include clearfix;
          & > div{
              display: table-cell;
              &:not(:last-child){
                  padding-right: 1rem;
              }
              
          }
          @media screen and (max-width:600px){
            display: block !important;
            margin: 1rem 0;
        }
          & span{
              overflow-wrap: break-word;
          }
    }
    &--btn{
     @include addButton($color)
     @media screen and (max-width:600px){
        display: block !important;
        margin-top: 1rem;
    }
   }
}

@mixin icon($color,$hoverTranslation:-.5px,$activeTranslation:-.5px){
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 0;
  border-radius: $border-radius;
  transition: transform .2s;
  padding:.3rem;
  fill: $color;
  background: transparent;
  cursor: pointer;
  transform: translateY(10%);
  &:hover{
    transform: translateY($hoverTranslation);
    box-shadow: 0 .5rem 1rem rgba($color,.5)
}
&:active{
    transform: translateY(3px);
    box-shadow: 0 .25rem .5rem rgba($color,.5)
    }
}

@mixin addButton($color){
    text-transform: uppercase;
      border:none;
       background: $color;
       padding:.4rem 2rem !important;
       color: $color-white;
       cursor: pointer;
       border-radius: $border-radius;
       font-size: 1rem;
       transition: transform .2s;
       z-index:2000;
       &:hover{
           transform: translateY(-2px);
           box-shadow: 0 .5rem 1rem rgba($color,.5)
       }
       &:active{
           transform: translateY(-1px);
           box-shadow: 0 .25rem .5rem rgba($color,.5);

       }
}