@mixin clearfix {
    &::before,
    &::after{
      content: " ";
      display: table;
    }
    &::after{
      clear: both;
    }
  }

@mixin mainSection($color:transparent){
  width:100%;
  height:100vh;
  background: $color;
  position: relative;
  overflow-y: auto;
}

@mixin itemRecord($color){
        
       
      
      & > td{
          //display: inline-block;
          text-transform: uppercase;
          text-align:center;
          padding:1rem;
            padding-bottom:2rem;
            border-bottom: 2px solid $color;
            border-radius:$border-radius;
      }
      &--name{
        font-size:1.4rem;
        @media screen and (max-width:600px){
            display: block !important;
        }
    }
    &--price{
        font-size:1.7rem;
        
    }
    &--addRemoveButtons{
        & button{
            border:none;
            background: $color;
            border-radius: 60%;
            padding:.2rem;
            position: relative;
            cursor:pointer;
            transition: transform .2s;
            &:not(:last-child){
                margin-right:1rem;
            }
            &:hover{
                transform: translateY(-.5px);
                box-shadow: 0 .5rem 1rem rgba($color,.5)
            }
            &:active{
                transform: translateY(3px);
                box-shadow: 0 .25rem .5rem rgba($color,.5);
                }

            &:focus{
                outline:none;
            }
        }
    }
    &--ingredients{
        font-size:.8rem;
          & > div{
              display: inline-block;
              &:not(:last-child){
                  padding-right: 1rem;
              }
              
          }
          @media screen and (max-width:600px){
            display: block !important;
            margin: 1rem 0;
        }
          & span{
              overflow-wrap: break-word;
          }
    }
    &--btn{
     @include addButton($color)
     @media screen and (max-width:600px){
        display: block !important;
        margin-top: 1rem;
    }
   }
}

@mixin icon($color,$activeTranslation:-.5px){
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  
  background: none !important;
  padding: .1rem .1rem;
  fill: $color;
  background: transparent;
  

 
}

@mixin addButton($color){
    text-transform: uppercase;
      border:none;
       background: $color;
       padding:.4rem 2rem !important;
       color: $color-white;
       cursor: pointer;
       border-radius: $border-radius;
       font-size: 1rem;
       transition: transform .2s;
       z-index:2000;
       &:hover{
           transform: translateY(-2px);
           box-shadow: 0 .5rem 1rem rgba($color,.5)
       }
       &:active{
           transform: translateY(-1px);
           box-shadow: 0 .25rem .5rem rgba($color,.5);
       }
       &:focus{
           outline:none;
       }
}