//Colors
$color-white: rgba(#fff,.90);
$color-black: #000;

$color-primary: #fda403;
$color-secondary: #e8751a;
$color-tertiary: #c51350;
$color-quaternary: #8a1253;


//borders
$border-radius:3px;

//paddings
$general-padding:3rem;